<template>
    <div id="pos">
        <div id="confirm">
            <button @click="getPosFunc" id="btnn">显示附近的风险地区</button>
            <form action="" id="form">
                <select name="sel" id="select">
                    <option value="0">距我最近</option>
                    <option value="1">同县/区内</option>
                    <option value="2">同市内</option>
                    <option value="3">临近市</option>
                </select>
            </form>
        </div>
        <div id="showInfo"></div>
    </div>
</template>
<script>
export default {
    name:'getPosInfo',
    data(){
        return{
            getPos:false,
            positionInfo:{

            },
        }
    },
    created(){

    },
    methods:{
        getPosFunc(){
            var agree = confirm('是否允许该应用获取您的位置？');
            if (agree == true) {
                this.getPos = true;
            } else {
                this.getPos = false;
            }
            console.log(this.getPos);
        }
    },

}
</script>
<style scoped>
#pos{
    width:100%;
    height:5vh;
    font-size: 1.5vh;
    background-color: aliceblue;
}
#confirm{
    display:flex;
}
#btnn{
    width:50%;
    height:5vh;
    border:none;
}
#form{
    width:50%;
    height:5vh;
    display:inline-block;
}
#select{
    width:80%;
    height:3vh;
    float:right;
    margin-top:1vh;
}
</style>
